@use '../../variables' as vars;

.main-header {
    padding: vars.$small-gap vars.$defailt-gap;
    background-color:  var(--accent);

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}